@use "../../../styles/var" as var;
.job-app {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    gap: 50px;
    width: 100%;

    .form {
        width: 100%;
        max-width: 800px;
        background: var.$dark-gradient;
        border-radius: 10px;
        border: 1px solid var.$stroke;
        display: flex;
        flex-direction: column;
        padding: 25px;
        gap: 25px;
        
        .status-text {
            align-self: flex-start;
            padding-left: 5px;
        }
        .field {
            display: flex;
            flex-direction: column;
            gap: 15px;
            .status-text {
                padding-left: 5px;
            }
            label {
                color: white;
                font-size: 14px;
                padding-left: 2.5px;
            }
            input, textarea {
                height: 50px;
                padding: 0px 15px;
                border-radius: 10px;
                background-color: #050505;
                outline: none;
                font-size: 14px;
                font-family: "Raleway", serif;
                color: white;
                border: 1px solid rgba(255,255,255,0.1);
    
                &::placeholder {
                    color: rgba(255,255,255,0.5);
                }
    
                &:focus {
                    border: 1px solid rgba(255,255,255,0.15);
                }
            }
            textarea {
                height: 120px;
                resize: none;
                padding: 15px;
                
            }
        }
        button {
            height: 55px;
            background: linear-gradient(45deg, #38384D, #fff, #38384D);
            background-size: 200%;
            background-position: left;
            color: black;
            font-weight: 600;
            border-radius: 10px;
            border: none;
            font-size: 14px;
            font-family: "Raleway", serif;
            cursor: pointer;
            transition: background-position 0.5s ease-in-out;
        
            &:hover {
                background-position: right;
            }
        }
        
    }
}

.spinner {
    border: 7px solid black;
    border-left-color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}
  
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

@media screen and (max-width: 550px) {
    .job-app {
        gap: 25px;
        margin-top: 50px;

        .form {
            padding: 15px;
        }
    }
}