@use "../../../styles/var" as var;
.job-board {
    max-width: 1050px;
    background-color: #050505;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    overflow: hidden;
    color: white;
    margin: 0 auto;
    border: 1px solid var.$stroke;
    margin-top: 60px;
    animation: fadeIn 0.75s linear;
    .job-header {
        padding: 25px 25px 25px 30px;
        background-color: black;
        border-bottom: 1px solid var.$stroke;
        width: 100%;
    }
    .jobs {
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 0px 25px;

        .job {
            background-color: #0c0c0c;
            border: 1px solid var.$stroke;
            padding: 25px;
            border-radius: 10px;
            gap: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .details {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
            }
            .apply {
                display: flex;
                width: 150px;
                align-items: center;
                justify-content: center;
                gap: 15px;
                text-decoration: none;
                height: 50px;
                background: linear-gradient(45deg, #38384D, #fff, #38384D);
                background-size: 210%;
                background-position: left;
                color: black;
                font-weight: 600;
                border-radius: 10px;
                border: none;
                font-size: 14px;
                font-family: "Raleway", serif;
                cursor: pointer;
                transition: background-position 0.5s ease-in-out;
            
                &:hover {
                    background-position: right;
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .job-board {
        margin-top: 50px;
        gap: 15px;
        padding-bottom: 15px;
    }
    .jobs {
        padding: 0px 15px !important;
        gap: 15px !important;
    }
}
@media screen and (max-width: 500px) {
    .job {
        padding: 15px !important;
        flex-direction: column !important;
        gap: 15px !important;
        align-items: flex-start !important;
        justify-content: stretch;

        .details {
            flex: 1;
        }
        .apply {
            width: 100% !important;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}